---
import ServiceLayout from '../../components/ServiceLayout.astro';
---

<ServiceLayout
  title="Web Solutions"
  description="Professional website development, hosting, e-mail services, and SEO to grow your digital presence in Hong Kong."
  image="/images/service-web.jpg"
  imageAlt="UX and web design"
>
  <p>Internet is the booming option for marketing at present. What online marketing needs is a professional website. Our Web Solution includes building and maintenance of website as well as the back up services.</p>
  <p>In addition, we also provide effective website and E-mail hosting as well as database driven web solutions and search engine optimisation services to clients. The SEO services carry out promotion of the website to get good ranking in the search engines.</p>

  <h2>What We Offer</h2>
  <ul>
    <li>Professional website design and development</li>
    <li>Website maintenance and backups</li>
    <li>Website and e-mail hosting</li>
    <li>Database-driven web application development</li>
    <li>Search engine optimisation (SEO)</li>
    <li>Digital marketing and online promotion</li>
  </ul>
</ServiceLayout>
